<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Bringing passion back to R&D&I</h3>
                <h1>EXCEEDING BOUNDS WITH US</h1>
                <h5>Our approach is flexible and customized for each client with an emphasis on strong communication and in-depth understanding of all needs.</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/fractal.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
